@model IEnumerable<ACSDining.Core.Domains.Dish>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DishType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuForDay.MenuForWeekId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recept)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DishType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuForDay.MenuForWeekId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recept)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DishID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DishID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DishID })
        </td>
    </tr>
}

</table>
