@{
    ViewBag.Title = "Dishes";
}


<div class="row">
    <div class="col-md-9 col-xs-offset-3">
        <div class="col-md-6">
            <div class="input-group date">
                <input type="button" class="btn-lg btn-success" data-bind="value: 'Добавить ' + SelectedCategory(),click: showAddDialog" />
            </div>
        </div>
        <div class="col-md-6">
            <nav class="navbar">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@Url.RouteUrl(new {action = "WeekMenu", controller = "SU_", area = "SU_Area"})">Меню</a>
                        </li>

                        <li>
                            <a href="@Url.RouteUrl(new {action = "Orders", controller = "SU_", area = "SU_Area"})">Заявки</a>
                        </li>

                        <li class="active ">
                            <a href="@Url.RouteUrl(new {action = "Dishes", controller = "SU_", area = "SU_Area"})">Блюда</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(new {action = "Payment", controller = "SU_", area = "SU_Area"})">Оплаты</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-1 " data-bind="css: { disabled: pageIndex() === maxPageIndex() }">
            <a href="#" class="btn btn-circle page-scroll" id="pagePrev" data-bind="click: previousPage"><i class="fa fa-angle-double-left animated"></i></a>
        </div>
    <div class="col-md-10">
        <div class="panel panel-default" id="mfwPanel">
            <table>
                <tbody>
                    <tr style="background: #565659;">
                        <!-- ko foreach: Categories-->
                        <td>
                            <span>
                                <input type="radio" name="dishGroup" data-bind="checked: $parent.SelectedCategory,checkedValue : $data, click: $parent.changeSelected" />
                                <span data-bind="text:$data" style="color: #54ECD2"></span>
                            </span>
                        </td>
                        <!--/ko-->
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-responsive table-condensed table-hover" id="updateTable">
                <thead>
                    <tr>
                        <th class="col-sm-1">№</th>
                        <th class="col-sm-3">Название</th>
                        <th class="col-sm-2">Продукты</th>
                        <th class="col-sm-2" style="text-align: center">Стоимость</th>
                        <th class="col-sm-2" style="text-align: center"><span data-bind="text: BeenChanged()?'Сохранить / Отмена':'Изменить / Удалить' "></span></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:pagedList">
                    <tr>
                        <td>
                            <span data-bind="text: $parent.pageIndex() * $parent.pageSize() + $index() + 1"></span>
                        </td>
                        <td>
                            <!--ko ifnot: Editing-->
                            <span data-bind="text:Title"></span>
                            <!--/ko-->
                            <!--ko if: Editing-->
                            <input type="text" data-bind="value: Title" />
                            <!--/ko-->
                        </td>
                        <td>
                            <!--ko ifnot: Editing-->
                            <span data-bind="text:Foods"></span>
                            <!--/ko-->
                            <!--ko if: Editing-->
                            <input type="text" data-bind="value: Foods" />
                            <!--/ko-->
                        </td>
                        <td>
                            <!--ko ifnot: Editing-->
                            <span data-bind="text:Price"></span>
                            <!--/ko-->
                            <!--ko if: Editing-->
                            <input type="text" data-bind="value: Price" />
                            <!--/ko-->
                        </td>
                        <td style="vertical-align: middle; text-align: center">
                            <!-- ko ifnot: Editing -->
                            <button class="glyphicon glyphicon-pencil btn-success btn-lg" data-bind="click: function(){ $parent.edit($data)} "></button>
                            <button class="glyphicon glyphicon-remove btn-danger btn-lg" data-bind="click: function(){ $parent.remove($data)} "></button>
                            <!--/ko-->
                            <!-- ko if: Editing -->
                            <button class="glyphicon glyphicon-save btn-warning btn-lg" data-bind="click: function(){ $parent.save($data)} "></button>
                            <button class="glyphicon glyphicon-adjust btn-danger btn-lg" data-bind="click: function(){ $parent.cancel($data)} "></button>
                            <!--/ko-->
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li data-bind="css: { disabled: pageIndex() === 0 }" class="paginate_button previous">
                                            <a href="#" class="btn" data-bind="click: previousPage">Previous</a>
                                        </li>
                                        <li data-bind=" foreach: allPages">
                                            <a href="#" class="paginate_button" data-bind="text: $data.pageNumber, click: function() { $parent.moveToPage($data.pageNumber-1)  }, css: { active: $data.pageNumber === ($parent.pageIndex() + 1) }"></a>
                                        </li>
                                        <li class="paginate_button next" data-bind="css: { disabled: pageIndex() === maxPageIndex() }">
                                            <a href="#" data-bind="click: nextPage">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                <tfoot>
            </table>
        </div>
    </div>
    <div class="col-md-1">
        <a href="#" class="btn btn-circle page-scroll" id="pageNext" data-bind="click: nextPage"><i class="fa fa-angle-double-right animated"></i></a>
    </div>
</div>
    <div id="modalbox" class="modal ">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Добавить <span data-bind="text:SelectedCategory"></span> </h1>
                </div>
                <div class="modal-body">
                    <table class="table table-condensed table-striped table-bordered pre-scrollable">
                        <tbody>
                            <tr>
                                <td>
                                    <span> Название</span>
                                </td>
                                <td>
                                    <input type="text" id="titleID" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span> Продукты</span>
                                </td>
                                <td>
                                    <input type="text" id="foodsID" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span> Стоимость</span>
                                </td>
                                <td>
                                    <input type="text" id="priceID" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bind="click: create">Создать</button>
                    <button class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/DishInfo")

