@{
    ViewBag.Title = "Orders";
}
<div class="row">
    <div class="col-md-9 col-xs-offset-3">
        <div class="col-md-6">
            <div class="input-group date">
                <input type="text" class="form-control" data-provide="datepicker" data-bind="datepicker: myDate" />
            </div>
        </div>
        @*<div class="col-md-6">
            <nav class="navbar">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-right">
                        <li >
                            <a href="@Url.RouteUrl(new {action = "WeekMenu", controller = "SU_", area = "SU_Area"})">Меню</a>
                        </li>

                        <li class="active ">
                            <a href="@Url.RouteUrl(new {action = "Orders", controller = "SU_", area = "SU_Area"})">Заявки</a>
                        </li>

                        <li>
                            <a href="@Url.RouteUrl(new {action = "Dishes", controller = "SU_", area = "SU_Area"})">Блюда</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl(new {action = "Payment", controller = "SU_", area = "SU_Area"})">Оплаты</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>*@
    </div>
</div>
    <div class="panel panel-default" id="mfwPanel">

    <table class="table table-striped table-bordered fixed  table-hover" id="ordesTable">
        <thead>
            <tr>
                <th rowspan="2"><span>№</span></th>
                <th rowspan="2" style="text-align:center"><span>Ф.И.О</span></th>
                <!--ko foreach: DaysOfWeek-->
                <th colspan="4" style="text-align:center"><span data-bind="text:$data"></span></th>
                <!--/ko-->
                <th rowspan="2"><span>Стоимость</span></th>
            </tr>
            <tr data-bind="foreach: DaysOfWeek" id="groups">
                <!--ko foreach: $root.Categories-->
                <th class="rotate">
                    <span class="intact" data-bind="text: $data"></span>
                </th>
                <!--/ko-->
            </tr>
        </thead>
        <tbody>
            <!--ko foreach: pagedList-->
            <tr>
                <td>
                    <span data-bind="text: $root.pageIndex() * $root.pageSize() + $index() + 1"></span>
                </td>
                <td class="rights"><span data-bind="text: UserName"></span></td>
                <!--ko foreach: Dishquantities-->
                <td data-bind="singleClick: function(){$data.clicked($element)}, event : { dblclick: doubleClick }, tooltip: {title: 'DoubleClick For Edit', placement: 'top',container: 'body'}">
                    <!--ko ifnot: isEditMode-->
                    <span data-bind="text: Quantity"></span>
                    <!--/ko-->
                    <!-- ko if: isEditMode() -->
                    <!-- ko if: ($index() % 4 === 0) -->
                    <select class="input-small" data-bind="options: $root.FirstCourseValues, value: Quantity,event:{focusout: function(){$data.onFocusOut(); $root.CalcSummary($parent)} }"></select>
                    <!--/ko-->
                    <!-- ko ifnot: ($index() % 4 === 0) -->
                    <select class="input-small" data-bind="options: $root.QuantValues, value: Quantity,event:{focusout:  function(){$data.onFocusOut();$root.CalcSummary($parent)} }"></select>
                    <!--/ko-->
                    <!--/ko-->
                </td>
                <!--/ko-->
                <td><span data-bind="text: $data.SummaryPrice"></span></td>
            </tr>
            <!--/ko-->
            <tr>
                <td colspan="24">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li data-bind="css: { disabled: pageIndex() === 0 }" class="paginate_button previous">
                                        <a href="#" class="btn" data-bind="click: previousPage">Previous</a>
                                    </li>
                                    <li data-bind=" foreach: allPages">
                                        <a href="#" class="paginate_button" data-bind="text: $data.pageNumber, click: function() { $root.moveToPage($data.pageNumber-1)  }, css: { active: $data.pageNumber === ($root.pageIndex() + 1) }"></a>
                                    </li>
                                    <li class="paginate_button next" data-bind="css: { disabled: pageIndex() === maxPageIndex() }">
                                        <a href="#" data-bind="click: nextPage">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="30">
                    <div class="dataTables_paginate paging_simple_numbers" style="padding:5px;">
                        <ul class="pagination">
                            <li class=" paginate_button previous">
                                <a href="#" data-bind=" click: function(){ $root.LoadOrders($root.WeekNumber() - 1); }">Previous</a>
                            </li>
                            <li class="paginate_button " data-bind="foreach: NumbersOfWeek">
                                <a href="#" class="paginate_button" data-bind="text: $data, css: { active: $data == $root.WeekNumber()}, click: function(){ $root.LoadOrders($data); }"></a>
                            </li>
                            <li class=" paginate_button next">
                                <a href="#" data-bind="click: function(){ $root.LoadOrders($root.WeekNumber() + 1 ); }">Next</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
@Scripts.Render("~/bundles/WeekOrders")
<script type="text/javascript">

    //$('.nav.navbar-nav li').eq(1).addClass('active');
    //$('.menu li ').click(function (e) {
      
    //    $('.menu li ').removeClass('active');
    //    $('.menu li ').eq( 1 ).addClass('active');
    //});
</script>